.chess-board-wrapper {
    margin: auto;
    display: grid;
    max-width: 40rem;
    max-height: 40rem;
    height: 40rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: solid black; 
}

.white {
    background-color: blanchedalmond !important;
}
.black {
    background-color: #444 !important;
}
