/* * {
    outline: 2px solid red;
} */

body {
    text-align: center;
}

button {
    margin-bottom: 1rem;
}

.chess-board-wrapper {
    margin: auto;
    display: grid;
    max-width: 60vh;
    max-height: 60vh;
    height: 60vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: solid black; 
}

.hor-label {
    margin: auto;
    max-width: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    font-weight: bolder;
}

.vert-label {
    display: grid;
    max-height: 60vh;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    position: relative;
    top: -10px;
    margin: 0 10px;
}

.vert-div {
    display: inline-block;
    font-weight: bolder;
}

.box {
    height: auto;
    width: auto;
}

.box img {
    width: 100%;
    height: auto;
    display: block;
}

.white {
    background-color: blanchedalmond !important;
}
.black {
    background-color: #444 !important;
}

