/* * {
    outline: 2px solid red;
} */

body {
    text-align: center;
}

button {
    margin-bottom: 1rem;
}

.chess-board-wrapper {
    margin: auto;
    display: grid;
    max-width: 60vh;
    max-height: 60vh;
    height: 60vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.box {
    height: auto;
    width: auto;
}

.box img {
    width: 100%;
    height: auto;
    display: block;
}

.white {
    background-color: blanchedalmond;
    border: solid 2px #444;
    
}
.black {
    background-color: #444;
}

